.pinkie {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#large-blue {
    color: blue;
    font-size: 36px;
}

.pinkie.large-text {
    font-size: 24px;
}

#greenie {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}